<h3> Count now is <b>{{counter}}</b></h3>
<button (click)="inc()" [disabled]="incDisabled"> Click me please</button>
<button (click)="decrement()" [disabled]="decDisabled">Click me also</button>

<br>
<br>

<input type="text" value="" placeholder="Enter your name" (keyup)="inputEdit($event)">
<h4>Hello, {{username}}</h4>