<p>list works!</p>
<button (click)="createItem()">Create New</button>
<br>
<button (click)="login()">Login</button>
{{output}}
<table>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>

    <tr *ngFor="let item of list">
        <td>
            {{item.id}}
        </td>
        <td>
            {{item.name}}
        </td>
        <td>
            {{item.price}}
        </td>
        <td>
            <a [routerLink]="['/details', item.id]"> Go to Product Details</a>
        </td>
        <td *ngIf="this.auth.currentUser.isLoggedIn">
            <a [routerLink]="['/delete', item.id]"> Delete Item</a>
        </td>
    </tr>
</table>


<button (click)="logout()">Logout</button>