<!-- <h1>Counter #1</h1>
<app-home></app-home>

<h1>Counter #2</h1>
<app-home></app-home>

<h1>Counter #3</h1>
<app-home></app-home>

<app-data></app-data>
<app-create-product></app-create-product> -->


<app-twoways></app-twoways>