<p>create-product works!</p>
<input type="text" name="prName" id="" [(ngModel)]="prName"/>
<input type="text" name="prName" id="" [(ngModel)]="price"/>
<input type="text" name="prName" id="" [(ngModel)]="quantity"/>
<button (click)="save()">Save Product</button>