<p>details works!</p>

<h4>Showing details of item {{id}}</h4>
<ul>
    <li>
        <p>{{currentItem.id}}</p>
    </li>
    <li>
        <p>{{currentItem.name}}</p>
    </li>
    <li>
        <p>{{currentItem.price}}</p>
    </li>
</ul>
<br>
<button (click)="editItem()"></button>