<p>account works!</p>

<ul>
    <li>
        <a routerLink="login"> Login</a>
    </li>
    <li>
        <a routerLink="register"> Register </a>
    </li>

</ul>

<router-outlet></router-outlet>


<!-- <app-login></app-login>
<br>
<app-register></app-register> -->