<h1>Welcome to my app</h1>
<ul>
  <li>
    <a routerLink="products"> Products</a>
  </li>
  <li>
    <a routerLink="account"> Account </a>
    <ul>
      <li>
        <a routerLink="login"> Login</a>
      </li>
      <li>
        <a routerLink="register"> Register </a>
      </li>
    </ul>
  </li>
  <li>
    <a routerLink="pipes"> Pipes </a>
  </li>
</ul>
<router-outlet></router-outlet>
<app-material></app-material>