<h1>Welcome to the products app</h1>
<div>
    <a routerLink="create">Create</a>
    <br>
    <a routerLink="search">Search</a>
    <br>
    <a routerLink="list">List</a>
</div>


<router-outlet></router-outlet>


<h5>
    Contact us on social media <br>
    Facebook - Linkedin - Instagram
</h5>