<p>pipe works!</p>
<!-- 
<h3> {{title}} </h3>
<h3> {{title | lowercase}} </h3>

<h3> {{title | uppercase}} </h3>

<h3> {{title | titlecase}} </h3>

<h3> {{title}} </h3>

<h3>{{options | json}}</h3>

<h3>{{list | slice:3:4}}</h3>

<h3>{{price +"%"}}</h3>

<input type="number" (keyup)="valiedate($event)" max=100 [value]="price"/>
<input type="number" (keyup)="valiedate($event)" max=100 [(ngModel)]="price"/> -->