<p>create works!</p>


<input type="text" [(ngModel)]="name" placeholder="Product Name">
<input type="text" [(ngModel)]="price" placeholder="Product Price">
<input type="text" [(ngModel)]="imgUrl" placeholder="Product Image Url">
<br>
<button (click)="save()">Save</button>