<p>twoways works!</p>
<input type="text" placeholder="Enter your name here" [(ngModel)]="username">
<button (click)="display()">Say My Name</button>
<button (click)="clear()"> Clear My Name</button>
<p>welcome {{displayName}}</p>