<p>search works!</p>

<input type="text" [(ngModel)]="searchName" placeholder="Enter your product Name">
<br>
<button (click)="search()">Search</button>

<div *ngIf="!foundFlag;else productDetails">
    {{outputMsg}}
</div>
<ng-template #productDetails>
    <p>Name:{{product.name}}</p>
    <p>Price: {{product.price}}</p>
    <img [src]="product.imgUrl" alt="">
</ng-template>